extends layout

block content
  div(class='mx-5')
    div(class='mx-5 flex d-flex justify-content-center align-items-center space-between mb-4')
      div(class='h4 w-20 mx-5 p-0 col-9')= title
      a(href="/new", class="fs-1 w-30 btn btn-primary" ) Add new
    .container
      .wrapper 
        ul 
          li(class='list-unstyled')
              each message in messages
                div(class='fs-5 font-weight-bold')=message.user
                div(class='fs-4')=message.text
                div(class='fs-1')=message.added


      

