extends layout

block content
  .title
    h1= title
  .container
    .wrapper 
      ul 
        each message in messages
          h2=message.user
          h2=message.added
    <a href="/new" class="button">Add new</a>


      

